extends _template.pug
include _mixins.pug

block vars
  - var pageTitle = "AI in Healthcare | Cognizant"
  - var metaDescription= "See how Cognizant helps Healthcare clients leverage data and AI to be a competitive asset in patient care and operational outcomes."
  - var metaKeywords= "ai in healthcare, healthcare ai, healthcare data"
  - var backgroundImage = "images/case-studies-landing-backgrounds-assets/bg-caseStudyLanding-healthcare.png"
  - var eyebrowIcon = "images/icons/icon-healthcare-white.svg"
  - var eyebrow = "HEALTHCARE"
  - var headline = "Improve patient outcomes, efficiency & reduce costs with AI"
  - var introParagraph01 = "Providers are looking to reimagine clinical care and operating models around the pervasive use of data and intelligent technologies. We help our clients leverage data to be a competitive asset and provide novel insights in key areas of patient care, operational efficiencies, and optimized outcomes."
  - var introParagraph02 = ""

block content
  .bg-grd-blue-radial-bottom
    .py3.bg-pos-top-center.bg-size-contain.lazyload(data-bg=backgroundImage)
      .grid-container.medium-pt3.large-pt5
        .grid-x.grid-padding-x.text-white.align-center
          +caseStudy-intro

          .large-8.cell.mb10
            .grid-x.grid-padding-x.text-white.flex-container.pb2.medium-pb3
              .cell.text-center
                h3.medium-mb3 Case Studies

              +caseStudy-tile({
                image: "images/case-studies-landing-tile-backgrounds-assets/bg-caseStudy-healthcare-01.jpg",
                title: "AI Insights Improve Healthcare Operations and Decision-Making",
                url: "CHANGE_ME"
                })

              +caseStudy-tile({
                image: "images/case-studies-landing-tile-backgrounds-assets/bg-caseStudy-healthcare-02.jpg",
                title: "AI Data Analytics Supports Better Patient Care",
                url: "CHANGE_ME"
                })

              +caseStudy-tile({
                image: "images/case-studies-landing-tile-backgrounds-assets/bg-caseStudy-healthcare-03.jpg",
                title: "Preventive Care, With a Dose of Artificial Intelligence",
                url: "CHANGE_ME"
                })

              +caseStudy-tile({
                image: "images/case-studies-landing-tile-backgrounds-assets/bg-caseStudy-healthcare-04.jpg",
                title: "Using Data Science to Improve Patient Care and Satisfaction",
                url: "http://www.cognizant.com/case-studies/pdfs/improving-patient-insights-through-ai-data-analytics-codex4585.pdf",
                })


