.bg-grd-dark-blue-dark.p2.medium-p5.text-white.text-center.bg-size-cover(style="background: url(images/bg/bg-intro.jpg) no-repeat")
  .grid-x.grid-padding-x.align-center
    .cell
      img.mb1.lazyload(data-sizes="auto" data-src="images/icons/icon-consulting-white.svg" data-aos="fade-up" alt="icon")
      h3.mb2(data-aos="fade-up") Take the first step
      h5(data-aos="fade-up") Make contact to collaborate
      p(data-aos="fade-up") Together let’s see where Cognizant Artificial Intelligence can take your organization.
      a.button.arrow(href="CHANGE_ME" data-aos="fade-up") CONTACT US