include ../../../_mixins.pug
include _tl-mixin.pug
- var contentType = "REPORT"
- var headline = "Forrester Report"
- var bodyCopy = "Cognizant is named a leader in the latest Forrester Wave for AI Consultancies, Q3, 2019"
- var link = "CHANGE_ME"
- var linkText = "READ THE REPORT"
- var image = "images/thought-leadership-carousel-overlays-assets/tl-carousel-overlay-forrester-wave.jpg"

+tl-mixin