include ../../../_mixins.pug
include _tl-mixin.pug
- var contentType = "PERSPECTIVES"
- var headline = "Clear the big hurdles to data modernization"
- var bodyCopy = "The most common challenges and advice for your business to surmount obstacles on its data-driven journey."
- var link = "CHANGE_ME"
- var linkText = "READ THE PERSPECTIVES"
- var image = "images/thought-leadership-carousel-overlays-assets/tl-carousel-overlay-hurdles.jpg"

+tl-mixin