include ../../../_mixins.pug
include _tl-mixin.pug
- var contentType = "WHITEPAPER"
- var headline = "Investing in AI: Moving Along the Digital Maturity Curve"
- var bodyCopy = "Learn how digital maturity and AI adoption are impacting business success."
- var link = "CHANGE_ME"
- var linkText = "READ THE WHITEPAPER"
- var image = "images/thought-leadership-carousel-overlays-assets/tl-carousel-overlay-digital-maturity-curve.jpg"

+tl-mixin