include ../../../_mixins.pug
include _tl-mixin.pug

- var contentType = "BLOG"
- var headline = "How to Accelerate Business Change Using Data and AI"
- var bodyCopy = "Learn the common characteristics in businesses that have realized success with data and AI."
- var link = "CHANGE_ME"
- var linkText = "READ THE BLOG"
- var image = "images/thought-leadership-carousel-overlays-assets/tl-carousel-overlay-accelerate-business-change.jpg"

+tl-mixin