include ../../../_mixins.pug
include _tl-mixin.pug
- var contentType = "WHITEPAPER"
- var headline = "Getting Your Assets Ready for AI"
- var bodyCopy = "Here’s how organizations can modernize their data and IT asets to realize the full promise of AI."
- var link = "CHANGE_ME"
- var linkText = "READ THE PERSPECTIVES"
- var image = "images/thought-leadership-carousel-overlays-assets/tl-carousel-overlay-getting-assets-ready.jpg"

+tl-mixin