include ../../../_mixins.pug
include _tl-mixin.pug
- var contentType = "REPORT"
- var headline = "IDC report"
- var bodyCopy = "This IDC AI Services study presents a 2019 vendor assessment of AI service providers, evaluating 12 firms based on key characteristics for success."
- var link = "CHANGE_ME"
- var linkText = "READ THE REPORT"
- var image = "images/thought-leadership-carousel-overlays-assets/tl-carousel-overlay-idc-report.jpg"

+tl-mixin