.large-h80vh.py3.large-p5.text-white.flex-container.align-center-middle.bg-size-cover.relative.lazyload(data-bg="images/bg/bg-section-intelligence.png" style="background: radial-gradient(circle, #0033a0 0%, #000063 50%, #000e2b 85%)")
  .grid-container.z1.relative
    .grid-x.grid-padding-x.align-justify
      .small-12.medium-5.large-5.cell.flex-container
        .card.bg-none.bd0(data-aos="fade-left")
          .card-section.px0
            img.lazyload.mb1(data-sizes="auto" data-src="images/icons/icon-customer-intelligence-white.svg" alt="CHANGE_ME")
            p.small.font-wide CUSTOMER INTELLIGENCE
            h3 Deepen engagement
            p Improve customer experience with real-time insights to drive revenue.
              a.arrow(href="#") link1
              a.arrow(href="#") link1
              | Sunt sunt ipsum enim esse deserunt sint proident laborum aute elit proident amet ea et.
          .card-divider.align-bottom.px0.bg-none
            a.small.arrow(href="#") LEARN MORE
            a.small.arrow(href="#") LEARN MORE
            a.small.arrow(href="#") LEARN MORE
      .small-12.medium-5.large-5.cell.flex-container
        .card.bg-none.bd0(data-aos="fade-right")
          .card-section.px0
            img.lazyload.mb1(data-sizes="auto" data-src="images/icons/icon-operations-intelligence-white.svg" alt="CHANGE_ME")
            p.small.font-wide OPERATIONS INTELLIGENCE
            h3 Modern business processes
            p Improve customer experience with real-time insights to drive revenue.
          .card-divider.align-bottom.px0.bg-none
            a.small.arrow(href="#") LEARN MORE
  img.lazyload.absolute.pos-top.center(data-sizes="auto" data-src="images/dna-tendrils.svg" alt="CHANGE_ME")