// ===================================================================================
//  ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██ ███████ ███████
// ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██ ██ ██      ██
// ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██ ██ █████   ███████
// ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██ ██ ██           ██
//  ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████  ██ ███████ ███████
// ===================================================================================
.bg-white
  .grid-container.pt1.medium-pt3
    .grid-x.grid-padding-x.align-center
      .cell.medium-10.large-8.text-center
        img.mb1.lazyload(data-sizes="auto" data-src="images/icons/icon-read-report-circle-blue.svg" alt="CHANGE_ME")
        h3.m0 Case Studies

  .grid-x.text-white.p-half.large-p2.large-min-h100vh.align-stretch
    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "3",
      eyebrow: "HEALTHCARE",
      headline: "Improve patient outcomes, efficiency and reduce costs",
      url: "healthcare.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/healthcare.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "3",
      eyebrow: "LIFE SCIENCES",
      headline: "Accelerate medical innovation with intelligent solutions",
      url: "life-sciences.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/life-sciences.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "6",
      eyebrow: "INSURANCE",
      headline: "Identify the greatest opportunities and risks",
      url: "insurance.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/insurance.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "6",
      eyebrow: "BANKING & CAPITAL MARKETS",
      headline: "Increase financial intelligence",
      url: "banking-capital-markets.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/banking-capital-markets.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "3",
      eyebrow: "COMMUNICATIONS, MEDIA & TECHNOLOGY",
      headline: "Improve processes, interactions and sales impact",
      url: "communications-media-tech.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/communications.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "3",
      eyebrow: "CONSUMER GOODS & RETAIL",
      headline: "Inform user interactions and loyalty programs",
      url: "cpg-retail.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/consumer-goods.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "3",
      eyebrow: "ENERGY & UTILITIES",
      headline: "Increase operational agility and efficiency",
      url: "energy-utilities.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/energy-utilities.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "3",
      eyebrow: "TRAVEL & HOSPITALITY",
      headline: "Enhance and personalize customer experiences",
      url: "travel-hospitality.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/travel-hospitality.jpg",
      })(class="large-p0")

    +caseStudy-index({
      hoverContent: false,
      smColumns: "12",
      mdColumns: "6",
      lgColumns: "6",
      eyebrow: "TRANSPORT & LOGISTICS",
      headline: "Innovation that connects, tracks and informs",
      url: "transport-logistics.html",
      buttonText: "MORE",
      hoverBodyCopy: "Hover content",
      hoverButtonText: "HOVER BUTTON TEXT",
      image: "images/case-studies-index-tile-backgrounds-assets/transport-logistics.jpg",
      })(class="large-p0")