// ===================================================================================
// ███████ ██████   ██████   ██████  ██   ██
// ██      ██   ██ ██    ██ ██    ██ ██  ██
// █████   ██████  ██    ██ ██    ██ █████
// ██      ██   ██ ██    ██ ██    ██ ██  ██
// ███████ ██████   ██████   ██████  ██   ██
// ===================================================================================
.grid-container.p0(data-aos="fade-up")
  .grid-x.grid-padding-x.medium-mx1.large.m0.text-white.align-middle.relative.medium-bd-radius-2.overflow-hidden.ebook
    .cell.p2.medium-p2.z1
      .grid-x.grid-padding-x
        .cell.small-12.medium-8
          h4.text-crop.m0 Accelerate 
          h5.text-crop.m0 Business Growth and Outcomes with Data and AI
      .grid-x.grid-padding-x.align-middle
        .cell.small-12.medium-auto
          p.medium-m0 21 Case Studies | 9 Industries
        .cell.small-12.medium-shrink
          img.inline-block.mb0.mr-half(src="images/icons/icon-download-report-circle-white.svg" style="width: 40px;" alt="CHANGE_ME")
          a.m0.arrow.link-coverAll.text-shadow(href="https://www.cognizant.com/whitepapers/accelerate-business-growth-and-outcomes-with-ai-codex3743.pdf") DOWNLOAD EBOOK
    img.lazyload.absolute.object-fit-contain.object-position-top-right(data-sizes="auto" data-src="images/ebook-illustration.svg" alt="CHANGE_ME" data-aos="fade-down" data-aos-delay="500")
