.absolute.pos-top.pos-left.wh100
  include _curtain.pug
.relative
  // ===================================================================================
  // ███████ ███████  ██████ ████████ ██  ██████  ███    ██      ██
  // ██      ██      ██         ██    ██ ██    ██ ████   ██     ███
  // ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██      ██
  //      ██ ██      ██         ██    ██ ██    ██ ██  ██ ██      ██
  // ███████ ███████  ██████    ██    ██  ██████  ██   ████      ██
  // ===================================================================================
  .grid-container
    .grid-x.grid-padding-x.text-center.text-white.h100vh.align-center-middle.overflow-hidden.intro-section1
      .cell.text-center
        //- img.cog-logo-intro.lazyload.mb0.medium-mr-half(data-sizes="auto" data-src="images/cog-logo-white.svg" data-aos="fade-left" alt="Cognizant")
        //- h1.h3.text-normal.inline-block(data-aos="fade-right") Artificial Intelligence
        h3.super-size.text-heavy.medium-my2(data-aos="flip-hor-bottom-bck") Suddenly, it all makes sense
        h5.text-normal.inline-block.m0.font-wide(data-aos="fade-left" data-aos-delay="1000") UNDERSTAND THE DATA THAT MATTERS 
          span.show-for-medium |&nbsp;
        p.show-for-small-only
          br
        h5.text-normal.inline-block.m0.large-mb3.font-wide(data-aos="fade-right" data-aos-delay="1500") UNLOCK ITS POWER

  .text-center
    img.lazyload(data-sizes="auto" data-src="images/circle-line.svg" alt="CHANGE_ME")

  // ===================================================================================
  // ███████ ███████  ██████ ████████ ██  ██████  ███    ██     ██████
  // ██      ██      ██         ██    ██ ██    ██ ████   ██          ██
  // ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██      █████
  //      ██ ██      ██         ██    ██ ██    ██ ██  ██ ██     ██
  // ███████ ███████  ██████    ██    ██  ██████  ██   ████     ███████
  // ===================================================================================
  .grid-container
    .grid-x.text-center.text-white.h100vh.align-center-middle.overflow-hidden
      .cell
        h5.text-normal.font-wide(data-aos="fade-up" data-aos-delay="0") THE SOLUTION
        h3.super-size.text-heavy.medium-mb2.medium-mt0(data-aos="flip-hor-bottom-bck") Release data’s value with AI
        h5.text-normal.mb3.font-wide(data-aos="fade-up") AGGREGATE | ANALYZE | ACCELERATE
        h5.text-blue-bright.font-wide.block(href data-aos="fade-up") LET’S GO
      .cell.flex-container.align-center.relative(data-aos="fade-down")
        .chevron
        .chevron
        .chevron

  .text-center
    img.lazyload(data-sizes="auto" data-src="images/circle-line.svg" alt="CHANGE_ME")