// ===================================================================================
// ███████ ████████  █████  ████████     ██████
// ██         ██    ██   ██    ██             ██
// ███████    ██    ███████    ██         █████
//      ██    ██    ██   ██    ██             ██
// ███████    ██    ██   ██    ██        ██████
// ===================================================================================
.bg-white.text-white.text-center.p2
  .grid-x.grid-margin-x.align-stretch.medium-h100.py3.bg-grd-blue-radial.bd-radius-2.box-shadow2
    .cell
      p.font-wide IN THE FIELD
    .cell
      .responsive-embed.stat3
        object.lazyload(data-sizes="auto" data-expand="-100" type="image/svg+xml" data-object="images/stat3.svg")
    .cell
      p.font-wide REDUCTION IN DRIVE-THRU TIME
      h2.mb2 Fast food…faster
    .cell
      p.small.m0 Based on actual client engagements. Individual results may vary.
