// ===================================================================================
// ███████ ████████  █████  ████████      ██
// ██         ██    ██   ██    ██        ███
// ███████    ██    ███████    ██         ██
//      ██    ██    ██   ██    ██         ██
// ███████    ██    ██   ██    ██         ██
// ===================================================================================
.text-white.text-center.bg-grd-blue-radial.p2.medium-p5
  .grid-x.grid-margin-x.align-stretch.medium-h100.large-py3
    .cell
      p.font-wide IN THE FIELD
    .cell
      .responsive-embed.stat1
        object.lazyload(data-sizes="auto" data-expand="-100" type="image/svg+xml" data-object="images/stat1.svg")
    .cell
      p.font-wide IMPROVEMENT IN SPEED TO MARKET
      h2.mb2 Consumer goods digital shelf
    //-   +dividerDash
    //- .cell
      img.lazyload(data-sizes="auto" data-src="images/cog-logo-ai-white.svg" style="max-height: 30px;" alt="CHANGE_ME")
    .cell
      p.small.m0 Based on actual client engagements. Individual results may vary.
