//- include landing/_stat2.pug
//- include landing/_stat5-sprint2.pug

// ===================================================================================
// ███████ ████████  █████  ████████     ██████
// ██         ██    ██   ██    ██             ██
// ███████    ██    ███████    ██         █████
//      ██    ██    ██   ██    ██        ██
// ███████    ██    ██   ██    ██        ███████
// ===================================================================================
#stat2.text-white.text-center.bg-grd-blue-radial.p2.medium-p5
  .grid-x.grid-margin-x.align-stretch.medium-h100.large-py3
    .cell
      p.font-wide IN THE FIELD
    .cell
      .responsive-embed.stat2
        object.lazyload(data-sizes="auto" data-expand="-100" type="image/svg+xml" data-object="images/stat2.svg")
    .cell
      p.font-wide REDUCTION IN MANNED CALLS
      h2.mb2 Airline AI Agent
    //-   +dividerDash
    //- .cell
      img.lazyload(data-sizes="auto" data-src="images/cog-logo-ai-white.svg" style="height: 30px;" alt="CHANGE_ME")
    .cell
      p.small.m0 Based on actual client engagements. Individual results may vary.

// ===================================================================================
//- ███████ ████████  █████  ████████     ███████
//- ██         ██    ██   ██    ██        ██
//- ███████    ██    ███████    ██        ███████
//-      ██    ██    ██   ██    ██             ██
//- ███████    ██    ██   ██    ██        ███████
// ===================================================================================
#stat5-sprint2.bg-white.text-white.text-center.p2
  .grid-x.grid-margin-x.align-stretch.medium-h100.py3.bg-grd-blue-radial.bd-radius-2.box-shadow2
    .cell
      p.font-wide IN THE FIELD
    .cell.pb2
      .responsive-embed.stat1
        object.lazyload(data-sizes="auto" data-expand="-100" type="image/svg+xml" data-object="images/stat-4x-performance-improvement.svg")
    .cell
      h2.mb2 Performance improvement
      p.font-wide BY AUTOMATING DATA MOVEMENT AND PROTECTION
    .cell
      p.small.m0 Based on actual client engagements. Individual results may vary.
