doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Foundation for Sites
    link(rel="stylesheet", href="css/app.css")
  body
    style.
      .text-white {
        color: white !important;
      }
    .grid-x.grid-padding-x.large-up-3.margin-bottom-2.text-white
      .cell.padding-2.flex-container.align-bottom(style="background: url(https://source.unsplash.com/collection/1538150/400x800); background-size: cover; height: 100vh;")
        div
          img.margin-bottom-1.display-block(src="https://www.placehold.it/60X60")
          small.font-wide.margin-bottom-2.display-block THE AI DRIVEN COMPANY
          h2.font-bold.margin-bottom-3 Is the world ready for you?
          a(href) PLAY VIDEO
      .cell.padding-2.flex-container.align-bottom(style="background: url(https://source.unsplash.com/collection/1538150/401x801); background-size: cover; height: 100vh;")
        div
          img.margin-bottom-1.display-block(src="https://www.placehold.it/60X60")
          small.font-wide.margin-bottom-2.display-block THE AI DRIVEN COMPANY
          h2.font-bold.margin-bottom-3 Is the world ready for you?
          a(href) PLAY VIDEO
      .cell.padding-2.flex-container.align-bottom(style="background: url(https://source.unsplash.com/collection/1538150/402x802); background-size: cover; height: 100vh;")
        div
          img.margin-bottom-1.display-block(src="https://www.placehold.it/60X60")
          small.font-wide.margin-bottom-2.display-block THE AI DRIVEN COMPANY
          h2.font-bold.margin-bottom-3 Is the world ready for you?
          a(href) PLAY VIDEO

    .grid-x.grid-padding-x.text-white.padding-2
      .small-12.medium-6.large-3.cell.padding-2.flex-container.align-bottom(style="height: 40vh;")
        .relative
          .grid-container
            .grid-x.grid-padding-x.align-middle.p3.relative.z1
              .cell
                small.font-wide.display-block HEALTHCARE
                h5.font-bold.margin-bottom-2 Access, affordability, Effectiveness
                a.text-white.font-wide(href) MORE
          img.absolute.object-fit-cover.pos-top.show-for-large(src="images/cards/mob/card2.jpg", alt="")
          img.absolute.object-fit-cover.pos-top.show-for-medium-only(src="images/cards/mob/card2.jpg", alt="")
          img.absolute.object-fit-cover.pos-top.show-for-small-only(src="images/cards/mob/card2.jpg", alt="")
      .small-12.medium-6.large-3.cell.padding-2.flex-container.align-bottom(style="background: url(images/cards/mob/card2.jpg); background-size: cover; height: 40vh;")
        div
          small.font-wide.display-block LIFE SCIENCES
          h5.font-bold.margin-bottom-2 When data is a matter of life and death
          a.text-white.font-wide(href) MORE
      .small-12.medium-6.large-3.cell.padding-2.flex-container.align-bottom(style="background: url(images/cards/mob/card3.jpg); background-size: cover; height: 40vh;")
        div
          small.font-wide.display-block INSURANCE
          h5.font-bold.margin-bottom-2 Disruption is coming. Mitigate risk
          a.text-white.font-wide(href) MORE
      .small-12.medium-6.large-3.cell.padding-2.flex-container.align-bottom(style="background: url(images/cards/mob/card4.jpg); background-size: cover; height: 40vh;")
        div
          small.font-wide.display-block BANKING &amp; CAPITAL MARKETS
          h5.font-bold.margin-bottom-2 Better interactions? Not the toughest sell
          a.text-white.font-wide(href) MORE
      .small-12.medium-12.large-6.cell.padding-2.flex-container.align-bottom(style="background: url(images/cards/mob/card5.jpg); background-size: cover; height: 40vh;")
        div
          small.font-wide.display-block COMMUNICATIONS
          h5.font-bold.margin-bottom-2 I, Robot. I, Brand.
          a.text-white.font-wide(href) MORE
      .small-12.medium-6.large-3.cell.padding-2.flex-container.align-bottom(style="background: url(images/cards/mob/card6.jpg); background-size: cover; height: 40vh;")
        div
          small.font-wide.display-block CONSUMER GOODS
          h5.font-bold.margin-bottom-2 Tidying up the "digital shelf"
          a.text-white.font-wide(href) MORE
      .small-12.medium-6.large-3.cell.padding-2.flex-container.align-bottom(style="background: url(images/cards/mob/card7.jpg); background-size: cover; height: 40vh;")
        div
          small.font-wide.display-block ENERGY AND UTILITIES
          h5.font-bold.margin-bottom-2 Intelligent Conversational AI
          a.text-white.font-wide(href) MORE



    script(src="node_modules/jquery/dist/jquery.js")
    script(src="node_modules/what-input/dist/what-input.js")
    script(src="node_modules/foundation-sites/dist/js/foundation.js")
    script(src="js/app.js")
