extends _template.pug
include _mixins.pug

block vars
  - var pageTitle = 'AI Pages'

block content
  .bg-blue-dark(style="padding-top: 140px;")
    .grid-container
      .grid-x.grid-padding-x
        .cell
          p
            a(href="landing.html") Main landing
          p
            a(href="data-modernization.html") Depth Page- Data Modernization
          p
            a(href="data-modernization-platform.html") Depth Page- Data Platform
          p
            a(href="data-modernization-method.html") Depth Page- Data Method
          p
            a(href="consulting.html") Depth Page- Consulting
          p
            a(href="evolutionary-ai.html") Tendril Page- Evolutionary AI
          p
            a(href="conversational-ai.html") Tendril Page- Conversational AI
          p
            a(href="causality.html") Tendril Page- Causality
          p
            a(href="deep-learning.html") Tendril Page- Deep Learning
          p
            a(href="banking-capital-markets.html") Case Studies- Banking & Capital Markets
          p
            a(href="communications-media-tech.html") Case Studies- Communications
          p
            a(href="cpg-retail.html") Case Studies- Consumer Goods
          p
            a(href="energy-utilities.html") Case Studies- Energy & Utilities
          p
            a(href="healthcare.html") Case Studies- Healthcare
          p
            a(href="insurance.html") Case Studies- Insurance
          p
            a(href="life-sciences.html") Case Studies- Life Sciences
          p
            a(href="travel-hospitality.html") Case Studies- Travel & Hospitality
          p
            a(href="transportation-logistics.html") Case Studies- Transportation & Logistics